<div class="wherebyContainer">
  <div class="whereby">
    <h1>Dedechat</h1>
    <%= form_for @room do |f| %>
      <%= f.text_field :name, required: true %>
      <%= f.button "Join Room", class: 'greenBtn' %>
    <% end %>
  </div>
</div>
