<div id="message-<%= message.id %>" style="word-wrap: break-word;">
  <small>
    <strong><%= message.user.username %></strong>
    <i><%= message.created_at.strftime('%d/%m/%Y às %H:%M') %></i>
  </small>
  <p><%= message.content %></p>
</div>
