<div class="container mt-3 justify-content-center">
  <h2 class="my-4 text-center">Junte-se a nossa comunidade</h2>
  <h4 class="mb-4 text-center">Você está à procura de apoio ou deseja oferecê-lo?</h4>
</div>
