// Specific CSS for your home-page

.body {
  background-color: #F8F5E4;
  // background: linear-gradient(163deg, rgba(252,252,247,1) 0%, rgba(255,246,225,1) 99%);
}

.banner {
  width: auto;
  background: #3F497F;
  height: 480px;
  flex-shrink: 0;
  // background: linear-gradient(117deg, rgba(227,203,136,1) 0%, rgba(210,187,121,1) 100%);
  border-radius: 0px 0px 100px 100px;
  box-shadow: 9px 7px 10px 0px rgba(0,0,0,0.25);
}

.card {
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 27px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  padding: 16px;
  background: linear-gradient(144deg, rgba(252,252,247,1) 0%, rgba(255,249,235,1) 100%);
  position: relative;
  margin-top: 0rem;
  box-shadow: 8px 19px 13px -3px rgba(0,0,0,0.05);
}

.card-banner {
  background: rgba(217, 217, 217, 0.21);
  position: relative;
  margin-top: 0rem;
  box-shadow: 8px 19px 13px -3px rgba(0,0,0,0.05);
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 27px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  padding: 16px;
}

.button-form {
  border-radius: 16px;
}

.button-search {
  border-radius: 2rem;
  padding: 4px 8px;
  position: absolute;
  right: 32px;
  margin-top: -2px;
}

.button-choice {
  border-radius: 1rem;
}

.button-filter {
  border-radius: 1rem;
  position: absolute;
  right: 10rem;
}

.button-homepage {
  margin-top: 28px;
  width: 280px;
  height: 74px;
  background-color: rgba(217, 217, 217, 0.21);
  border-radius: 16px;
}

.button-review {
  padding: 16px 16px 16px 32px;
  border-radius: 16px;
}

.button-appointment {
  border-radius: 16px;
}


.slogan {
  font-size: 32px;
  color: #F6E5B7;
  margin-top: -64px;
  padding-top: 80px;
}

.cards-homepage {
  padding: -64px;
}

.articles {
  font-size: 20px;
  width: 100%;
  // text-wrap: balance;
  overflow-y: hidden;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.text-success {
  height: 150px;
  margin-bottom: 20px;
}

.mission {
  margin-bottom: 20px;
  color: #153A55;
}


.form-assignment {
  width: 400px;
}

.form-filter {
  width: 280px;
}


.prof-choice {
  width: 400px;
}

.filter-choice {
  width: 300px;
}

.search-btn {
  width: 150px;
}

.p {
  margin-top: 8px;
}

.banner-bottom {
  width: auto;
  height: 160px;
  flex-shrink: 0;
  background: #3F497F;
  border-radius: 0px 0px 100px 100px;
  color: #FFFFFF;
}


.icons {
  margin-top: 16px;
  margin-inline: 20%;
  text-align: center;
  font-weight: 100;
}

.banner-benefits {
  width: auto;
  height: 500px;
  flex-shrink: 0;
  background-color: #a2b683;
  box-shadow: 3px 10px 14px 4px rgba(0,0,0,0.24);
}

.fa-5x {
  margin-top: 1rem;
}

.info-card {
  font-size: 48px;
  text-align: center;
}

.title-info {
  font-size: 24px;
  text-align: center;
}

.card-mental {
  margin-inline: 10%;
  margin-right: 30%;
}


.margin-benefits {
  margin-inline: 20%;
}

.body-info {
  font-size: 24px;
}


.meditation {
  width: 600px;
  height: 500px;
}
