<% if @chatrooms.present? %>
  <% @chatrooms.each do |chatroom| %>
    <%= link_to chatroom.name, chatroom_path(chatroom) %>
  <% end %>
<% else %>
  <h2>Você ainda não participa de nenhuma conversa.</h2>
<% end %>
