<% unless current_page?(appointments_path) %>
  <footer class="py-5 bg-success" style="margin-top: 250px; height: 180px;">
    <div class="container"><p class="m-0 text-center text-primary">Copyright &copy; Girassol</p></div>
  </footer>
<% else %>
  <footer class="py-5 bg-success" style="margin-top: 50vh; height: 180px; bottom: 0px;">
    <div class="container"><p class="m-0 text-center text-primary">Copyright &copy; Girassol</p></div>
  </footer>
<% end %>
