.container-new-appointment {
  background-color: #fff0d3;
  padding-bottom: 100px;
  padding-top: 24px;
}

.card-new-appointment {
  background-color: 144deg, #fcfcf7 0%, #fff9eb 100%;
  position: relative;
  padding: 32px;
  width: 500px;
  border: 0.8px solid #f3e5c1;
  box-shadow: 0 11px 22px 0 rgba(0,0,0,.06);
  border-radius: 8px;
}

// falar com o pessoal sobre essas mudanças
// . body {
//   color: #4a463de2 ;
// }
