.container-new-appointment {
  background-color: #fff0d3;
  padding-bottom: 100px;
  padding-top: 24px;
}

.card-new-appointment {
  background-color: #fff4de;
  position: relative;
  margin: 40px;
  padding: 32px;
  width: 500px;
  border: 0.8px solid #f3e5c1;
  box-shadow:rgba(49, 49, 19, 0.651);
  border-radius: 8px;
}

// falar com o pessoal sobre essas mudanças
.body {
  background-color: #fff0d3;
  color: #4a463de2 ;
}
