
<div class="text-center pt-5 pb-4">
  <h1>Nossa equipe</h1>
</div>
  <p class="text-about" style="width: 700px;">O projeto Girassol surgiu como uma oportunidade de conectar profissionais da área da saúde mental voluntários à pessoas em vulnerabilidade social e econômica. Segundo a OMS, o pós pandemia no Brasil teve impacto direto na saúde mental da população, com aumentos no casos de transtorno de humor como a depressão.</p>
<div class="pb-5 container">
  <div class="row d-flex justify-content-center align-items-center h-75">
    <div class="col-sm-12 col-md-6 col-lg-3 mb-3 card-us">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body text-center">
          <div class="mt-3 mb-4">
            <img src="https://avatars.githubusercontent.com/u/138259645?v=4"
              class="rounded-circle img-fluid" style="width: 150px;" />
          </div>
          <h4 class="mb-2 us-name">André Lúcio</h4>
          <p class="text-muted mb-4">Desenvolvedor web <span class="mx-2"></span>dedelacerda95@gmail.com<a
              href="#!"></a></p>
          <div class="mb-4 pb-2">
            <button type="button" onclick="location.href='https://github.com/dezim95'" class="btn btn-outline-success btn-floating">
              <i class="fa-brands fa-github"></i>
            </button>
            <button type="button" class="btn btn-outline-success btn-floating">
              <i class="fa-brands fa-linkedin"><a target="_blank" href="https://www.linkedin.com/in/andr%C3%A9-de-lacerda-santos-948537220"></a></i>
            </button>
            <button type="button" class="btn btn-outline-success btn-floating">
              <i class="fa-brands fa-instagram"><a target="_blank" href="https://www.instagram.com/dezimfisicaenem/"></i>
            </button>
          </div>
          <button type="button" class="btn btn-success btn-rounded btn-lg">
            <a target="_blank" href="https://www.gmail.com" class="text-white text-decoration-none" style="font-size: 24px;">Contato</a>
          </button>
          <div class="row justify-content-between text-center mt-2 mb-2">
            <div class="d-flex mb-3 mt-2 align-items-center justify-content-center">
              <p class="text-muted mb-0 text-info justify-content-between">Le Wagon Batch #1360</p>
            </div>
            <div class="">
              <img src="https://avatars.githubusercontent.com/u/5470001?s=200&v=4" alt="wagon" style="border-radius:50%; width: 80px;">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3 mb-3 card-us">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body text-center">
          <div class="mt-3 mb-4">
            <img src="https://avatars.githubusercontent.com/u/123019500?v=4"
              class="rounded-circle img-fluid" style="width: 150px;" />
          </div>
          <h4 class="mb-2 us-name">Diego Gamero</h4>
          <p class="text-muted mb-4">Desenvolvedor web <span class="mx-2"></span>diegosgjoao@gmail.com<a
              href="#!"></a></p>
          <div class="mb-4 pb-2">
            <button type="button" class="btn btn-outline-success btn-floating">
              <i class="fa-brands fa-github"><a target="_blank" href="https://github.com/DiegoSGamero"></a></i>
            </button>
            <button type="button" class="btn btn-outline-success btn-floating">
              <i class="fa-brands fa-linkedin"><a target="_blank" href="https://www.linkedin.com/in/diego-gamero/"></a></i>
            </button>
            <button type="button" class="btn btn-outline-success btn-floating">
              <i class="fa-brands fa-instagram"></i>
            </button>
          </div>
          <button type="button" class="btn btn-success btn-rounded btn-lg">
            <a target="_blank" href="https://www.gmail.com" class="text-white text-decoration-none" style="font-size: 24px;">Contato</a>
          </button>
          <div class="row justify-content-between text-center mt-2 mb-2">
            <div class="d-flex mb-3 mt-2 align-items-center justify-content-center">
              <p class="text-muted mb-0 text-info justify-content-between">Le Wagon Batch #1360</p>
            </div>
            <div class="">
              <img src="https://avatars.githubusercontent.com/u/5470001?s=200&v=4" alt="wagon" style="border-radius:50%; width: 80px;">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3 mb-3 card-us">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body text-center">
          <div class="mt-3 mb-4">
            <img src="https://avatars.githubusercontent.com/u/129872935?v=4"
              class="rounded-circle img-fluid" style="width: 150px;" />
          </div>
          <h4 class="mb-2 us-name">Erika Suzuki</h4>
          <p class="text-muted mb-4">Desenvolvedora web <span class="mx-2"></span>erikasuzuki34@gmail.com<a
              href="#!"></a></p>
          <div class="mb-4 pb-2">
            <button type="button" class="btn btn-outline-success btn-floating">
              <i class="fa-brands fa-github"><a target="_blank" href="https://github.com/erikasuzukisilvestrini"></a></i>
            </button>
            <button type="button" class="btn btn-outline-success btn-floating">
              <i class="fa-brands fa-linkedin"><a target="_blank" href="https://www.linkedin.com/in/erika-suzuki-490216263/"></a></i>
            </button>
            <button type="button" class="btn btn-outline-success btn-floating">
              <i class="fa-brands fa-instagram"><a target="_blank" href="https://www.instagram.com/suzukiierika/"></a></i>
            </button>
          </div>
          <button type="button" class="btn btn-success btn-rounded btn-lg">
            <a target="_blank" href="https://www.gmail.com" class="text-white text-decoration-none" style="font-size: 24px;">Contato</a>
          </button>
          <div class="row justify-content-between text-center mt-2 mb-2">
            <div class="d-flex mb-3 mt-2 align-items-center justify-content-center">
              <p class="text-muted mb-0 text-info justify-content-between">Le Wagon Batch #1360</p>
            </div>
            <div class="">
              <img src="https://avatars.githubusercontent.com/u/5470001?s=200&v=4" alt="wagon" style="border-radius:50%; width: 80px;">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3 mb-3 card-us">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body text-center">
          <div class="mt-3 mb-4">
            <img src="https://avatars.githubusercontent.com/u/139582394?v=4"
              class="rounded-circle img-fluid" style="width: 150px;" />
          </div>
          <h4 class="mb-2 us-name">Giovanna Perri</h4>
          <p class="text-muted mb-4">Desenvolvedora web <span class="mx-2"></span>giovannaperri@outlook.com <a
              href="#!"></a></p>
          <div class="mb-4 pb-2">
            <button type="button" class="btn btn-outline-success btn-floating">
              <i class="fa-brands fa-github"><a target="_blank" href="https://github.com/perrigii"></a></i>
            </button>
            <button type="button" class="btn btn-outline-success btn-floating">
              <i class="fa-brands fa-linkedin"><a target="_blank" href="#"></a></i>
            </button>
            <button type="button" class="btn btn-outline-success btn-floating">
              <i class="fa-brands fa-instagram"><a target="_blank" href="https://www.instagram.com/xxg_ixx/"></a></i>
            </button>
          </div>
          <button type="button" class="btn btn-success btn-rounded btn-lg">
            <a target="_blank" href="https://www.gmail.com" class="text-white text-decoration-none" style="font-size: 24px;">Contato</a>
          </button>
          <div class="row justify-content-between text-center mt-2 mb-2">
            <div class="d-flex mb-3 mt-2 align-items-center justify-content-center">
              <p class="text-muted mb-0 text-info justify-content-between">Le Wagon Batch #1360</p>
            </div>
            <div class="">
              <img src="https://avatars.githubusercontent.com/u/5470001?s=200&v=4" alt="wagon" style="border-radius:50%; width: 80px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
