
<body>
  <div class="banner">
    <div class="slogan text-white text-center">
      <p>UMA REDE DE APOIO AO SEU ALCANCE</p>
    </div>
    <div class="cards-homepage d-flex justify-content-around">
      <div class="card" style="width: 720px; height: 160px;">
        <div class="card-form mb-2">
          AGENDE SUA CONSULTA AGORA
          <div class="button-form">
            <button type="button" class="btn btn-danger btn-lg button-choice">PSICÓLOGO OU PSIQUIATRA?</button>
            <button type="button" class="btn btn-danger btn-lg button-filter">FILTROS</button>
            <button type="button" class="btn btn-danger btn-lg button-search">SEARCH</button>
          </div>
        </div>
      </div>
      <div class="button-homepage text-white">
        <button type="button" class="btn btn-lg">ENCONTRE ESPECIALISTAS</button>
        <button type="button" class="btn btn-lg button-appointment" style="background-color: rgba(217, 217, 217, 0.21)">MARQUE SUA CONSULTA</button>
        <button type="button" class="btn btn-lg button-review" style="background-color: rgba(217, 217, 217, 0.21)">AVALIE SUA CONSULTA</button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row row-cols-3">
      <div class="column-1">
        <div class="col card text-success">
          <div class="card-body articles" style="padding: 31px;">
            Dislexia, TDAH e TDA: quais são as diferenças?
          </div>
        </div>
          <div class="col card text-success">
          <div class="card-body articles" style="padding: 24px;">
            Como recuperar sua autoestima?
          </div>
        </div>
        <div class="col card text-success">
          <div class="card-body articles" style="padding: 36px;">
            Entenda como lidar melhor com o autismo
          </div>
        </div>
      </div>
      <div class="column-2">
        <div class="col card text-success">
          <div class="card-body articles" style="padding: 16px;">
            O stress ocupacional como factor principal de risco psicossocial
          </div>
        </div>
        <div class="col card text-success">
          <div class="card-body articles" style="padding: 25px;">
            Reabilitação neuropsicológica da memória
          </div>
        </div>
        <div class="col card text-success">
          <div class="card-body articles" style="padding: 21px;">
            Políticas públicas para juventude e sua relação com a psicologia
          </div>
        </div>
      </div>
      <div class="col card text-success">
        <div class="mission">
          Nossa Missão
        </div>
      </div>
    </div>
  </div>
</body>
