
<body>
  <div class="banner">
    <div class="slogan text-white text-center">
      <p>UMA REDE DE APOIO AO SEU ALCANCE</p>
    </div>
    <div class="cards-homepage d-flex justify-content-around">
      <div class="card" style="width: 720px; height: 160px;">
        <div class="card-form">
          AGENDE SUA CONSULTA AGORA
          <div class="button-form">
            <button type="button" class="btn btn-danger btn-lg button-choice">PSICÓLOGO OU PSIQUIATRA?</button>
            <button type="button" class="btn btn-danger btn-lg button-filter">FILTROS</button>
            <button type="button" class="btn btn-danger btn-lg button-search">SEARCH</button>
          </div>
        </div>
      </div>
      <div class="button-homepage text-white">
        <button type="button" class="btn btn-lg">ENCONTRE ESPECIALISTAS</button>
        <button type="button" class="btn btn-lg button-appointment" style="background-color: rgba(217, 217, 217, 0.21)">MARQUE SUA CONSULTA</button>
        <button type="button" class="btn btn-lg button-review" style="background-color: rgba(217, 217, 217, 0.21)">AVALIE SUA CONSULTA</button>
      </div>
    </div>
  </div>
</body>
