<body>
  <div class="banner">
    <div class="slogan text-white text-center">
      <p><strong>UMA REDE DE APOIO AO SEU ALCANCE</strong></p>
    </div>
    <div class="cards-homepage d-flex justify-content-around">
      <div class="card-banner" style="width: 900px; height: 160px;">
        <div class="card-form mb-2">
          <strong>AGENDE SUA CONSULTA AGORA</strong>
          <div class="button-form d-flex mt-3">

              <%= simple_form_for :search, url: search_path, method: :get, class: 'd-flex align-items-center ' do |f| %>
                <div class="row g-2 ">
                  <div class="col-auto prof-choice">
                    <%= f.input :query, label: false, placeholder: 'Encontre especialistas', input_html: { class: 'form-control' }, wrapper_html: {class: 'm-0'} %>
                  </div>

                  <div class="col-auto filter-choice">
                    <%= f.input :category, label: false, collection: User.specialty.map(&:capitalize), prompt: 'Filtros', input_html: { class: 'form-control' }, wrapper_html: {class: 'm-0'} %>
                  </div>

                  <div class="col-auto">
                    <%= f.button :submit, 'Pesquisar', class: 'btn btn-primary search-btn mb-2' %>
                  </div>
                </div>
              <% end %>

          </div>
        </div>
      </div>
    </div>

    <div class="banner-bottom">
      <div class="d-flex justify-content-between icons">
        <div class="d-flex flex-column">
          <i class="fa-solid fa-shield-halved fa-5x" style="color: #FFFFFF;"></i><p class="mt-3">SEGURANÇA</p>
        </div>
        <div class="d-flex flex-column">
          <i class="fa-solid fa-hand-holding-heart fa-5x" style="color: #FFFFFF;"></i><p class="mt-3">EMPATIA</p>
        </div>
        <div class="d-flex flex-column">
          <i class="fa-solid fa-comments fa-5x" style="color: #FFFFFF;"></i><p class="mt-3">100% ONLINE</p>
        </div>
      </div>
    </div>

  </div>

  <div class="container my-5">
    <div class="w-100 d-flex justify-content-center">
      <img src="cuidado.svg" class="cuidado mx-auto mb-5" alt="analysis image" />
    </div>
    <div class="w-100 d-flex justify-content-center">

        <div class="info-card flex-column text-info">
          <img src="Vector 1.svg" class="watercolor" alt="analysis image" />
          <img src="DESACELERE E preste atenção em você.svg" class="doctors desacelere" alt="analysis image" />
        </div>

        <div class="">
          <img src="meditation.svg" class="meditation" alt="analysis image" />
        </div>

    </div>
  </div>


  <div class="banner-benefits row justify-content-center">
    <%# <div class="margin-benefits d-flex"> %>

      <div class="col-sm-12 col-md-3 col-lg-6 d-flex justify-content-end">
        <img src="undraw_meditating_re_aiqa.svg" class="meditation" alt="meditation image">
      </div>

      <div class="col-sm-12 col-md-5 col-lg-6 d-flex flex-column justify-content-center">
        <h2 class="text-benefits mt-3">“O autocuidado é uma escolha deliberada de presentear-se com pessoas, lugares, coisas, eventos e oportunidades que recarregam nossa bateria pessoal e promovem a saúde integral: corpo, mente e espírito.”</h2>
        <p class="author">— Laurie Buchanan</p>
      </div>

    <%# </div> %>
  </div>


  <div class="container mt-5">
    <div class="card-grid">
      <div>
        <img src="undraw_time_management_re_tk5w.svg" class="undraw-images" alt="analysis image" />
        <p class="text-grid"> AAAAAAAAAAAAAAA AAAAAAAAAAAA AAAAAAAAAAA AAAAAAAAA AAAAAA AAAAAAAAAA </p>
      </div>
      <div>
        <img src="undraw_pilates_ltw9.svg" class="undraw-images" alt="analysis image" />
        <p class="text-grid"> AAAAAA AAAAAAAA AAAAAAA AAAAAAA AAAAAAAA AAAAAAAAAAA AAAAAAAAAAAAAAAA AAAAA AAAAAAA </p>
      </div>
      <div>
        <img src="undraw_coffee_time_e8cw.svg" class="undraw-images" alt="analysis image" />
        <p class="text-grid"> AAAAAAAAAAAAAAAAAAAAA </p>
      </div>
      <div>
      <img src="undraw_love_is_in_the_air_4uud.svg" class=" undraw-images" alt="analysis image" />
      </div>
      <div>
      <img src="undraw_loading_re_5axr.svg" class="undraw-images" alt="analysis image" />
      </div>
      <div>
      <img src="undraw_doctor_kw-5-l.svg" class="undraw-images" alt="analysis image" />
      </div>
    </div>
  </div>

</body>
