<body>
  <div class="banner">
    <div class="slogan text-white text-center">
      <p><strong>UMA REDE DE APOIO AO SEU ALCANCE</strong></p>
    </div>
    <div class="cards-homepage d-flex justify-content-around">
      <div class="card" style="width: 900px; height: 160px;">
        <div class="card-form mb-2">
          <strong>AGENDE SUA CONSULTA AGORA</strong>
          <div class="button-form d-flex">

              <%= simple_form_for :search, url: search_path, method: :get, class: 'd-flex align-items-center ' do |f| %>
                <div class="row g-2 ">
                  <div class="col-auto prof-choice">
                    <%= f.input :query, label: false, placeholder: 'Psicólogo ou psiquiatra?', input_html: { class: 'form-control' }, wrapper_html: {class: 'm-0'} %>
                  </div>

                  <div class="col-auto filter-choice">
                    <%= f.input :category, label: false, collection: User.specialty.map(&:capitalize), prompt: 'Filtros', input_html: { class: 'form-control' }, wrapper_html: {class: 'm-0'} %>
                  </div>

                  <div class="col-auto">
                    <%= f.button :submit, 'Pesquisar', class: 'btn btn-primary search-btn' %>
                  </div>
                </div>
              <% end %>

          </div>
        </div>
      </div>
    </div>

    <div class="banner-bottom">
      <div class="d-flex justify-content-between icons">
        <div class="d-flex flex-column">
          <i class="fa-solid fa-shield-halved fa-5x" style="color: #6b6457;"></i><p class="mt-3">SEGURANÇA</p>
        </div>
        <div class="d-flex flex-column">
          <i class="fa-solid fa-hand-holding-heart fa-5x" style="color: #6b6457;"></i><p class="mt-3">EMPATIA</p>
        </div>
        <div class="d-flex flex-column">
          <i class="fa-solid fa-comments fa-5x" style="color: #6b6457;"></i><p class="mt-3">100% ONLINE</p>
        </div>
      </div>
    </div>

  </div>

  <div class="statistics mt-5">
    <div class="card-mental d-flex">
      <div class="info-card flex-column">
        <h2>A SAÚDE MENTAL NO BRASIL</h2>
        <p class="title-info">| Boletim de fatos e números da saúde mental do Governo Brasileiro em 2022 |</p>
      </div>

      <div class="flex-column">
        <img src="analysis.svg" alt="analysis image"/>
      </div>
    </div>
  </div>

  <div class="banner-benefits">
    <h2>Benefícios do cuidado com a saúde mental</h2>
    <p class="text-benefits">



    </p>
  </div>

  <div class="container mt-5">
    <div class="card-grid">
      <div>
        <div class="card text-success">
          <div class="card-body articles">
            Dislexia, TDAH e TDA: quais são as diferenças?
          </div>
        </div>
          <div class="card text-success">
          <div class="card-body articles">
            Como recuperar sua autoestima?
          </div>
        </div>
        <div class="card text-success">
          <div class="card-body articles">
            Entenda como lidar melhor com o autismo
          </div>
        </div>
      </div>
      <div>
        <div class="card text-success">
          <div class="card-body articles">
            O stress ocupacional como factor principal de risco psicossocial
          </div>
        </div>
        <div class="card text-success">
          <div class="card-body articles">
            Reabilitação neuropsicológica da memória
          </div>
        </div>
        <div class="card text-success">
          <div class="card-body articles">
            Políticas públicas para juventude e sua relação com a psicologia
          </div>
        </div>
      </div>
      <div class="card mission">
          Nossa Missão
      </div>
    </div>
  </div>

</body>
