<div class="container-landing py-4">
  <div class="banner-landing row justify-content-center">
    <%= image_tag "logo_girassol.PNG", class: "logo-landing" %>
    <h1 class="text-center col-12">Girassol</h1>
    <p class="text-center col-12">Uma rede de apoio ao seu alcance</p>
  </div>
</div>
