.submit-login {
  margin-bottom: 4px;
  border: 0.5px solid #725237b2;
  border-radius: 4px;
  background-color: #f3dea2;
  box-shadow: 0px 0px 2px #a59465d5;
}

.btn-choose-role {
  padding: 8px;
  margin-bottom: 4px;
  border: 0.5px solid #725237b2;
  border-radius: 4px;
  background-color: #f3dea2;
  box-shadow: 0px 0px 2px #a59465d5;
  &:hover {
    font-weight: bold;
    padding: 9px;
  }
}

.btn-signup {
  margin-bottom: 4px;
  border: 0.5px solid #725237b2;
  border-radius: 4px;
  background-color: #f3dea2;
  box-shadow: 0px 0px 2px #a59465d5;
}

.btn-login-sigup {
  padding: 2px;
  margin-bottom: 4px;
  border: 0.5px solid #725237b2;
  border-radius: 4px;
  background-color: #f3dea2;
  box-shadow: 0px 0px 2px #a59465d5;
}

.btn-profile {
  background-color: #F6E5B7;
  padding-inline: 16px;
  padding-block: 14px;
  border: 0.3px solid #392d14;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #392d14;
  &:hover {
    padding-inline: 20px;
    padding-block: 18px;
    box-shadow: 0px 0px 3px #978150
  }
}

.btn-profile-therapist {
  background-color: #687aca;
  padding-inline: 16px;
  padding-block: 14px;
  margin: 8px;
  border: 0.3px solid #505fa5;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #392d14;
  &:hover {
    padding-inline: 20px;
    padding-block: 18px;
    box-shadow: 0px 0px 3px #978150
  }
}

.submit-edit-profile {
  padding-inline: 4px;
  border: 0.5px solid #725237b2;
  border-radius: 4px;
  background-color: #f1dfab;
  box-shadow: 0px 0px 2px #a59465d5;
}

.btn-cancelar-conta {
  padding-inline: 4px;
  border: 0.5px solid #725237b2;
  border-radius: 4px;
  background-color: #f1dfab;
  box-shadow: 0px 0px 2px #a59465d5;
  &:hover {
    padding: 5px;
    box-shadow: 0px 0px 3px #978150
  }
}

// .btn-show {
//   padding: 12px;
//   text-align: center;
//   width: 170px;
//   height: 65px;
//   border-radius: 4px;
//   background-color: #f1dfab;
//   color: #725237b2;
//   text-decoration: none;
//   box-shadow: 0px 0px 2px #a59465d5;
//   margin-bottom: 16px;
//   transition: 0.5s;
//   &:hover {
//     padding: 12px;
//     box-shadow: 0px 0px 3px #978150;
//     font-weight: bold;
//   }
// }

.falar-com {
  color: #5B280B !important;
  padding: 8px;
  text-align: center;
  width: 170px;
  height: 40px;
  border-radius: 4px;
  background-color: #F7C04A;;
  text-decoration: none;
  box-shadow: 0px 0px 2px #a59465d5;
  margin: 16px;
  transition: 0.3s;
  &:hover {
    padding: 10px;
    box-shadow: 0px 0px 3px #978150;
    font-weight: bold;
  }
}

.del-order {
  color: #5B280B !important;
  padding: 8px;
  align-items: center;
  width: 170px;
  height: 40px;
  border-radius: 4px;
  background-color: #F7C04A;
  border: 0.5px solid #F7C04A;
  text-decoration: none;
  box-shadow: 0px 0px 2px #a59465d5;
  margin: 16px;
  transition: 0.3s;
  &:hover {
    background-color: #F7C04A;
    box-shadow: 0px 0px 3px #816e43;
    font-weight: bold;
  }
}

.btn-detalhes {
  color: #5B280B;
  padding: 8px;
  text-align: center;
  align-items: center;
  width: 140px;
  height: 40px;
  border-radius: 4px;
  background-color: #F7C04A;
  border: 0.5px solid #F7C04A;
  text-decoration: none;
  box-shadow: 0px 0px 2px #a59465d5;
  // margin-bottom: 36px;
  margin-right: 16px;
  transition: 0.3s;
  &:hover {
    color: #5B280B;
    padding: 10px;
    background-color: #F7C04A;
    box-shadow: 0px 0px 3px #816e43;
    font-weight: bold;
  }
}
