.submit-login {
  margin-bottom: 4px;
  border: 0.5px solid #725237b2;
  border-radius: 4px;
  background-color: #f3dea2;
  box-shadow: 0px 0px 2px #a59465d5;
}

.btn-choose-role {
  padding: 8px;
  margin-bottom: 4px;
  border: 0.5px solid #725237b2;
  border-radius: 4px;
  background-color: #f3dea2;
  box-shadow: 0px 0px 2px #a59465d5;
  &:hover {
    font-weight: bold;
    padding: 9px;
  }
}

.btn-signup {
  margin-bottom: 4px;
  border: 0.5px solid #725237b2;
  border-radius: 4px;
  background-color: #f3dea2;
  box-shadow: 0px 0px 2px #a59465d5;
}

.btn-login-sigup {
  padding: 2px;
  margin-bottom: 4px;
  border: 0.5px solid #725237b2;
  border-radius: 4px;
  background-color: #f3dea2;
  box-shadow: 0px 0px 2px #a59465d5;
}

.btn-profile {
  background-color: #F6E5B7;
  width: 100px;
  height: 100px;
  padding: 8px;
  border: 0.3px solid #392d14;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #392d14;
  &:hover {
    padding: 16px;
    box-shadow: 0px 0px 3px #978150
  }
}

.submit-edit-profile {
  padding-inline: 4px;
  border: 0.5px solid #725237b2;
  border-radius: 4px;
  background-color: #f1dfab;
  box-shadow: 0px 0px 2px #a59465d5;
}

.btn-cancelar-conta {
  padding-inline: 4px;
  border: 0.5px solid #725237b2;
  border-radius: 4px;
  background-color: #f1dfab;
  box-shadow: 0px 0px 2px #a59465d5;
  &:hover {
    padding: 5px;
    box-shadow: 0px 0px 3px #978150
  }
}

.btn-show {
  padding: 4px;
  width: 150px;
  border-radius: 4px;
  background-color: #f1dfab;
  color: #725237b2;
  text-decoration: none;
  box-shadow: 0px 0px 2px #a59465d5;
  margin-bottom: 16px;
  &:hover {
    padding: 5px;
    box-shadow: 0px 0px 3px #978150;
    text-decoration: underline;
  }
}
