.card-profile-patient {
  background-color: #faeecc;
  margin: 40px;
  padding: 32px;
  width: 500px;
  border: 0.5px solid #f3e0ab;
  box-shadow: inset 0 10px 10px -10px rgba(49, 49, 19, 0.651);
  border-radius: 8px;
}

.card-profile-therapist {
  background-color: rgba(62, 99, 126, 0.808);
  margin: 40px;
  padding: 32px;
  width: 500px;
  border: 0.5px solid rgb(37, 68, 90);
  box-shadow: inset 0 10px 10px -10px rgba(49, 49, 19, 0.651);
  padding: 4px;
  border-radius: 8px;
}

.edit-card {
  margin-inline: 40px;
  margin-bottom: 40px;
  padding: 24px;
  border: 0.5px solid #947151;
  border-radius: 8px;
  box-shadow: 0px 0px 4px #725337;
}

.card-appointment {
  background-color:  #F7C04A;
  padding: 32px;
  width: 400px;
  border: 0.5px solid #f7c04af5;
  box-shadow: 0px 0px 8px #725337;
  padding: 4px;
  border-radius: 2px;
}

.card-login {
  margin-inline: 100px;
  padding: 20px;
  padding-inline: 60px;
  border: 0.5px solid #72523793;
  border-radius: 2px;
  .login-form {
    color: #725337;
    text-decoration: none;
    margin: 2px;
  }
}

.login-form:hover {
  color: #4b3523;
  text-decoration: underline;
}

.review {
  border-bottom: 0.5px solid #4b3523;
  margin-block: 12px;
}

.btns-show {
  box-sizing: content-box;
}

.info-consulta {
  border: 0.1px dotted #aaaa898c;
  border-radius: 2px;
}
