.card-profile-patient {
  background-color: #faeecc;
  margin: 24px;
  width: auto;
  border: 0.5px solid #f3e0ab;
  box-shadow: inset 0 10px 10px -10px rgba(49, 49, 19, 0.651);
  padding: 4px;
  border-radius: 8px;
}

.card-profile-therapist {
  background-color: rgb(37, 77, 107);
  margin: 24px;
  width: auto;
  border: 0.5px solid rgb(37, 77, 107);
  box-shadow: inset 0 10px 10px -10px rgba(49, 49, 19, 0.651);
  padding: 4px;
  border-radius: 8px;
}
