#subscriber video,
#publisher video {
  width: 100%;
  max-height: 100%;
}


#subscriber video,
#publisher video {
  max-width: 100%;
}


.chat-container {
  background-color: rgb(225, 225, 225);
  height: 595x;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 0.5px solid rgb(195, 195, 195);
}

.chat-name {
  background-color: #3F497F;
  color: white;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
  width: 100%;
  background-size: cover;
}
.msg-box {
  background-size: cover;
  padding-top: 0px;
  padding-bottom: 0px;
}

.filler {
padding: 10px;
}

.dedechat {
  background-color: #e2c983;
  color: black;
  box-shadow: 0cqb;
}

.dedebutton {
  border-radius: 4px;
  margin-top: 15px;
}

.chatroom-avatar{
  padding: 7px;
  border-radius: 50%;
}

.card-chat {
  border-radius: 10px;
  border: 0.5px solid rgb(195, 195, 195);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  padding: 16px;
  background: linear-gradient(144deg, rgba(252,252,247,1) 0%, rgba(255,249,235,1) 100%);
  position: relative;
  margin-top: 0rem;
  box-shadow: 8px 19px 13px -3px rgba(0,0,0,0.05);
  a {
    color: #3F497F;
    transition: color 0.3s ease;
  }
}

.card-video-chat {
  border-radius: 10px;
  border: 0.5px solid rgb(195, 195, 195);
  font-size: 18px;
  color:#ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  padding: 16px;
  background: #3F497F;
  position: relative;
  margin-top: 0rem;
  box-shadow: 8px 19px 13px -3px rgba(0,0,0,0.05);
}

.card-form-chat {
  border-bottom-left-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  color: #FFFFFF;
  font-size: 27px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  padding-right: 15px;
  padding-left: 15px;
  background: #3F497F;
  position: relative;
  margin-top: 0rem;
  box-shadow: 8px 19px 13px -3px rgba(0, 0, 0, 0.05);
}

a:hover {
  color: #7782b5;
}
.text-card-chat {
  color: rgb(101, 100, 100);
  transition: color 0.3s ease;
}

.text-card-form:hover {
  color: rgb(23, 23, 23);
}

.receiver-style {
  background: #A8B2E6;
  border: 0.5px solid rgb(167, 167, 167);
}

.sender-style {
  border: 0.5px solid rgb(197, 197, 197);
  background: #FFD988;
}

.send-button {
  margin-left: 15px;
}

.container-chat {
  margin-top: 40px;
}

.subscriber-video {
  margin-top: 133px;
}

.leaveRoom {

}
