// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "message";
@import "calendar";
@import "chat";
@import "modal";

.container-show-patient {
  padding-bottom: 100px;
  padding-top: 24px;
}

.container-show-therapist {
  background-color: rgb(21, 58, 85);
}
@import "container";
@import "form_index";
