.modal {
  max-height: 18vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 70%;
  right: 0;
  top: 20%;
  transform: translateY(-50%, -50%);
  z-index: 1002;
  background: linear-gradient(342deg, rgba(144,144,144,1) 0%, rgba(218,218,218,1) 100%);
  max-width: 275px;
  overflow: auto;
  border-radius: 10px;
  border: 0.5px solid rgb(166, 166, 166);
  box-shadow: 8px 5px 14px -1px rgba(0,0,0,0.38);
}

.modal-close-button {
  cursor: pointer;
}

.form-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  .dedebutton {
    width: 36%;
  }
  input {
    width: 97%;
  }
}

.text-modal {
  color: #3F497F !important;
}
