.navbar-lewagon {
  height: 120px !important;
  justify-content: space-between;
  background: #F7C04A;
  box-shadow: 7px 2px 5px 0px rgba(0,0,0,0.17);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  padding: 0% !important;
}

.navbar {
  height: 120px;
  border-radius: 16px;
}

.text-white {
  font-size: 56px;
  font-family: "Julius Sans One";
}


.login {
  width: 6rem;
  height: 48px;
  flex-shrink: 0;
  border-radius: 2rem;
  text-align: center;
  background: #3F497F;
  a {
    color: #ffffff;
    transition: color 0.3s ease;
  }
}

login:hover {
  background: #535e9d;
}

a:hover {
  color: #a6b0dd;
}

.guia {
  width: 180px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 1rem;
  text-align: center;
}

.btn-guia {
  display: flexbox;
  justify-content: center;
}

.fa-bars {
  margin-right: 24px;
}

.logotipo {
  width: 280px !important;
  height: 100px;
}

.nav-link {
  font-size: 20px;
  margin: 4px;
}

.nav-avatar {
  margin: 8px;
  padding: 0px;
}
