// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "pages/home";

@import "components/card";
@import "components/button";

@import "users/index";
@import "users/show";
@import "flatpickr/dist/flatpickr.css";

@import "appointments/new";

#subscriber video,
#publisher video {
  width: 100%; /* Set the desired width */
  height: auto; /* Automatically adjust the height to maintain the aspect ratio */
  max-height: 100%; /* Ensure the video does not exceed its container's height */
}

/* You can also set a maximum width for the videos if needed */
#subscriber video,
#publisher video {
  max-width: 100%; /* Set the maximum width */
}


.chat-container {
  background-color: rgb(225, 225, 225);
  height: 595x;
  //width: 800px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 2%;
  margin: auto;
}

.chat-name {
  background-color: rgb(125, 125, 125);
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
  width: 100%;
  background-size: cover;
}
.msg-box {
  background-image: url("https://www.housedecorinteriors.co.uk/UserFiles/wallpapers/20_william_morris_and_co/857_compendium_ii_wallpapers/MOR210477_z.jpg");
  background-size: cover;
  padding-top: 0px;
  padding-bottom: 0px;
}

.filler {
padding: 10px;
}

.dedechat {
  color: #313131;
  box-shadow: 0cqb;
  font-size: 15px;
  padding: 32px;
  margin-top: 40px;
  border-radius: 4px;
  border-top: 0.5px solid #616161;
}

.dedebutton {
  border-radius: 4px;
  margin-top: 15px;
}
