<div class="appointments-body">
 <div id="appointments-container" class="d-flex flex-column p-4">
    <div class="order-subtitle">
      <h3 class="text-center mt-4">Consultas agendadas</h3>
    </div>
    <div id="card-appointments" class="row justify-content-around align-items-center p-4">
      <% if @user.appointments.present? %>
        <div id="card-appointment" class="align-items-center col-6 col-md-4 col-lg-3 m-4">
          <p class=""><strong>Sua consulta será com: </strong><%= @appointment.therapist.name.capitalize %></p>
          <img src="<%= @appointment.therapist.picture_url %>" alt="imagem do terapeuta" class="avatar">
          <p class="pt-3"><strong>Data e Hora: </strong><%= @appointment.date_time %></p>
          <%= link_to "Delete", user_appointment_path(@appointment, user_id: @appointment.therapist.id), data: { turbo_method: :delete, turbo_confirm: "Quer mesmo cancelar esta consulta?" }, class: "del-order text-center btn btn-danger mx-auto d-block"
          %>
        </div>
      <% else %>
        <div class="no-appointments row justify-content-center">
          <p class="text-center col-12 m-4">Você ainda não tem consultas agendadas</p>
          <i class="fa-regular fa-face-frown-open fa-2xl text-center" style="color: #717171;"></i>
        </div>
      <% end %>
    </div>
  </div>
</div>
