<div class="all-new">
  <div class="container-new-appointment">
    <div class="card-new-appointment mx-auto d-block card-new-appointment">
      <div class="title-new text-center my-3">
        <h2 class="my-4">Agende sua consulta abaixo</h2>
      </div>

      <%# CALENDÃRIO AQUI %>
      <div id="my_calendar" class="">
        <div class="">
          <div class="d-flex justify-content-center ">
            <%= render 'appointments/calendar_form', appointment: @appointment %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
