<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nós estamos entrando em contato para te notificar que seu email está sendo modificado para <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nós estamos entrando em contato para te notificar que seu email foi modificado para <%= @resource.email %>.</p>
<% end %>
