<p>Olá <%= @resource.email %>!</p>

<p>Sua conta foi bloqueada por causa de um número excessivo de tentativas não sucedidas de entrar no site.</p>

<p>Clique no link abaixo para desbloqueá-la:</p>

<p><%= link_to 'Desbloquear minha conta', unlock_url(@resource, unlock_token: @token) %></p>
